h1, h2, h3, h4, h5, h6{
  text-transform: uppercase;
}

p{
  text-transform: lowercase;
}

section{
  background-color: #eee;
  padding: 16px;
}

body{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}
body header{
  grid-column: span 2;
}

section:nth-of-type(2n+1){
  background-color:black;
  color: white;
}

section article{
  padding: 10px;
}
section:nth-of-type(2n+1) article article:nth-of-type(2n+1){
  background-color: #ddd;
  color: black;
}
section article article:nth-of-type(2n+1){
  background-color: black;
  color: white;
}
section:nth-of-type(2n+1) a:visited{
  color: #ddd;
}
@media only screen and (max-width: 992px) {
  body{
    grid-template-columns:1fr;
  }
  body header{
    grid-column: span 1;
  }
}
